[submodule "extensions/godot-cpp"]
	path = extensions/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "extensions/libgdpcurl/vendor/curl"]
	path = extensions/libgdpcurl/vendor/curl
	url = https://github.com/curl/curl
